@page
@*HEAD STUFF*@
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="StyleSheet.css" rel="stylesheet" />

@*BODY STUFF*@
<div class="container">
    <h1>Project Portfolio</h1>
    <h2>Project Editor</h2>
    <hr />
    <form action="/" method="put">

        <div class="row">
            <div class="col">
                <label asp-for="Project.Title" for="Title">Project Title*</label>
            </div>
            <div class="col,col-lg-4*">
                <input type="text" asp-for="Project.Title" name="Title" required />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Project.Description" for="Description">Description*</label>
            </div>
            <div class="col,col-lg-4*">
                <input type="text" asp-for="Project.Description" name="Description" required />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Project.Languages" for="Languages">Technologies used</label>
            </div>
            <div class="col,col-lg-4*">
                <input type="text" asp-for="Project.Languages" name="Languages" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Project.Repository" for="Repository">Repository</label>
            </div>
            <div class="col,col-lg-4*">
                <input type="url" asp-for="Project.Repository" name="Repository" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Project.Date" for="Date">Date*</label>
            </div>
            <div class="col,col-lg-4*">
                <input type="date" asp-for="Project.Date" name="Date" value="@DateTime.Now.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.GetCultureInfo("en-US"))" required />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label asp-for="Project.Image" for="Image">Image</label>
            </div>
            <div class="col,col-lg-4*">
                <input type="file" asp-for="Project.Image" name="Image" accept="image/*" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>* = Required</p>
            </div>
            <div class="col,col-lg-4*">
                <input class="submitbutton" type="button" name="Submit" value="Submit Project" />
            </div>
        </div>
    </form>
</div>
