<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Style.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("Navbar")
    <div class="container">
        @RenderBody()
    </div>
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
