@page
    @using Portfolio.Data



@{ 
    var 
}
<h2>This isn't bootstrap</h2>

<div class="container">
    <div class="row">
        @foreach(var proj in projects)
        {


        }
    </div>
</div>

<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
