@page
@using Portfolio.Models
@inject IProjectService ProjectService

@{ 
    var projects = await ProjectService.GetAllAsync();
}

<div class="container">
    <div class="row">
        @foreach(var proj in projects)
        {

        }
    </div>
</div>