@page
@model PortfolioRazorPage.Pages.ProjectAdmin.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.Name" class="control-label"></label>
                <input asp-for="Project.Name" class="form-control" />
                <span asp-validation-for="Project.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Url" class="control-label"></label>
                <input asp-for="Project.Url" class="form-control" />
                <span asp-validation-for="Project.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Image" class="control-label"></label>
                <input asp-for="Project.Image" class="form-control" />
                <span asp-validation-for="Project.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.ImageContentType" class="control-label"></label>
                <input asp-for="Project.ImageContentType" class="form-control" />
                <span asp-validation-for="Project.ImageContentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
